.container {
    background-color: var(--main-bg);
    color: var(--text-color);
    width: fit-content;
}

.notebook {
    background-color: var(--main-bg);
    color: var(--text-color);
    width: 80rem;
}