.container {
    display: grid;
    align-items: self-start;
    grid-template-columns: repeat(6, minmax(1px, 1fr));
    margin: 1rem 0;
    justify-content: flex-start; /* Align themes from left to right */
}
